<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

    <!-- Nameless, 2026-10-06: user-confirmed installation of same-signer
         GitHub updates. No automatic/silent installation is performed. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

	<application tools:ignore="MissingApplicationIcon" />
</manifest>
